


.nav-tabs {

  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #fcfcfd;  
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow:
    rgba(59, 57, 80, 0.2) 0 2px 2px,
    rgba(0, 0, 0, 0.2) 0 4px 4px,
    rgba(0, 0, 0, 0.2) 0 8px 8px,
    rgba(0, 0, 0, 0.2) 0 16px 16px,
    rgba(0, 0, 0, 0.2) 0 32px 32px,
    rgba(89, 70, 196, 0.2) 0 64px 64px;
}

.KG {
  /* width: %; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px; 
  color: darkblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: .95;
}
