:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
   font-weight: 400;
  color-scheme: light dark;
  color: green;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.body {
  margin: 0;
  display: flex;
  background-color: blue;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

button {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 10 px;
  border-bottom-right-radius: 10 px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  
}
button:hover {
  box-shadow:
  rgba(59, 57, 80, 0.2) 0 2px 2px,
  rgba(0, 0, 0, 0.2) 0 4px 4px,
  rgba(0, 0, 0, 0.2) 0 8px 8px,
  rgba(0, 0, 0, 0.2) 0 16px 16px,
  rgba(0, 0, 0, 0.2) 0 32px 32px,
  rgba(89, 70, 196, 0.2) 0 64px 64px;
  border-color: #56565a;
  
}
button:focus,
button:focus-visible {
  border: 2px;
  background-image: linear-gradient(#fff,#fff,#fff,#fff,#C0C0C0,#9795b1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: blue;
  }
  button {
    background-color: solid transparent;
  }
}

/* start styles to <footer> */
footer {
  background-position-x: 0%;
  background-position-y: 0%;
  background: #0D1B2A;
  font-weight: bold;
  width: 100vw;
  height: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer h2 {

  color: #E0E1DD;
  font-size: 15px;
  margin: 0;
}

footer p {
  color: #E0E1DD;
  font-size: 15px;
  margin: 0;
  text-align: center;

}

footer div {

  line-height: 1.5;
  /* text-align: right; */
}

footer a {
  color: #E0E1DD;
}

footer a:hover {
  color: #328C83;
  transition: .5s ease;
}